<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CitationImport_POC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TimerInterval" value="30" />    <!--Set in minutes -->
    <add key="RunTimes" value="7|8|9|10|11|12|13|14|15|16|17|18|23" />
    <add key="Environment" value="Server"/>
    <add key="DevEnvironment" value="TEST"/>
    <add key="FileLogID" value="100"/>
    <add key="VendorAgencyID" value="200"/>
    <add key="LocalPath" value="Test"/>
  </appSettings>
  <connectionStrings>
    <!-- NLog connection string -->
    <!-- Make sure application service account has permission to execute stored procedure (see database target) -->
    <add name="NLog" connectionString="Data Source=lsnodytest\florangetest;Initial Catalog=OdyClerkInternal;Integrated Security=true;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <add name="OdyClerkInternal" connectionString="Data Source=lsnodytest\florangetest;Initial Catalog=OdyClerkInternal;Integrated Security=True;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <add name="OdyClerkInternalEntities" connectionString="metadata=res://*/CitationImportModel.csdl|res://*/CitationImportModel.ssdl|res://*/CitationImportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lsnodytest\florangetest;initial catalog=OdyClerkInternal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="" internalLogLevel="Error" throwexceptions="false">
    <targets>
      <!-- This target will write to a file -->
      <!-- The layout is pipe delimited so that the file can be imported into Excel -->
      <!--Note: E:\LogFiles\TrafficCitationImport_v2 maps to \\CWTMAPP01\LogFiles$\TrafficCitationImport_v2-->
      <target name="file" xsi:type="File" fileName="\\CWTMAPP01\LogFiles$\CitationImport_POC\${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${callsite}|${message}|${exception:format=tostring}" archiveFileName="logs/archives/${shortdate}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="45" />
      <target name="db" xsi:type="Database" connectionStringName="NLog" commandText="exec dbo.OCCC_NLog_AddEntry @application, @machineName, @logged, @level, @message, @logger,  @properties, @callsite, @exception">
        <parameter name="@application" layout="OCCC_CitationImport_POC" />
        <parameter name="@machineName" layout="${machinename}" />
        <parameter name="@logged" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@properties" layout="${all-event-properties:separator=|}" />
        <parameter name="@callsite" layout="${callsite}" />
        <parameter name="@exception" layout="${exception:tostring}" />
      </target>
    </targets>
    <rules>
      <!--<logger name="*" minlevel="Debug" writeTo="console" />-->
      <!--<logger name="*" minlevel="Error" writeTo="database" />-->
      <!--<logger name="*" minlevel="Debug" writeTo="csv" />-->
      <!--<logger name="*" minlevel="Info" writeTo="database" />-->
      <logger name="*" minlevel="Debug" writeTo="db" />
      <!--<logger levels="Error,Warn,Fatal" name="databaseLogger" writeTo="database"/>-->
    </rules>
  </nlog>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>